# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws-sam/

# Kubernetes
kubeconfig
*.kubeconfig

# Secrets
.env
.env.*
*.pem
*.key
*.crt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db