aws_profile                 = ""
aws_region                  = "us-east-1"
environment                 = "dev"
project_name                = "aws-k8s-project"
tfstate_bucket              = "tony-terraform-state-bucket"